@import 'components/banner';
@import 'components/navbar';
@import 'components/homepage/contentInfoBox';
@import 'components/homepage/contentClients';
@import 'components/footer';
@import 'components/services/servicesPage';
@import 'components/portfolio/portfolioPage';
@import 'components/our_team/ourTeamPage';
@import 'components/blog/ourBlogPage';
@import 'components/blog/blogPage';
@import 'components/contactUs/contactUsPage';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato, 'Open Sans';
}

.wrapper {
    flex: 1 0 auto;
}
