.banner {
  height: 605px;
  background-color: #2f3030; }

.banner__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  color: white; }
  .banner__container .banner__container-text {
    text-align: center;
    margin-top: 140px; }
    .banner__container .banner__container-text > p {
      margin: 17px 0;
      font-size: 16px; }
    .banner__container .banner__container-text h1 {
      font-size: 50px;
      margin: 15px 0; }
    .banner__container .banner__container-text .banner__container-text-dots {
      font-weight: 200; }
      .banner__container .banner__container-text .banner__container-text-dots:after, .banner__container .banner__container-text .banner__container-text-dots:before {
        content: '\2022';
        font-size: 18px;
        margin: 0 12px;
        color: #979898; }
  .banner__container .banner__container-text-lines {
    font-weight: 200;
    vertical-align: middle; }
  .banner__container .svg-lines {
    width: 100px;
    margin: 0 20px;
    padding: 4px 0;
    height: 4px; }
  .banner__container .banner__href {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 180px;
    height: 50px;
    width: 240px;
    border: 1px solid #979898;
    color: white;
    background: transparent;
    word-spacing: 1px;
    font: 100 14px Lato;
    text-decoration: none; }
    .banner__container .banner__href:hover, .banner__container .banner__href:active, .banner__container .banner__href:visited, .banner__container .banner__href:focus {
      color: white; }

.homepage-nav_light {
  width: 100%;
  height: 110px;
  background-color: white; }

.homepage-nav_dark {
  width: 100%;
  height: 80px;
  background-color: black; }

.homepage-nav__container {
  box-sizing: border-box;
  max-width: 960px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }

.homepage-nav__wds-logo_lightScheme {
  font-size: 40px;
  font-weight: 900;
  margin: 0 70px;
  color: black; }

.homepage-nav__wds-logo_darkScheme {
  font-size: 40px;
  font-weight: 900;
  margin: 0 70px;
  color: white; }

.homepage-nav__links {
  display: flex;
  flex-direction: row;
  width: 365px;
  justify-content: space-between; }

.homepage-nav__href {
  font-family: 'Open Sans';
  font-size: 14px;
  text-decoration: none;
  color: #7f8c8d; }

.info-box {
  height: 435px;
  background-image: url("./images/background/HomePage_Content_Background.png"); }

.info-box__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 0 auto; }

.info-box__text-wrapper_marginTop50 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px; }
  .info-box__text-wrapper_marginTop50 hr {
    width: 150px;
    border: none;
    border-top: 1px solid #a5a8a9;
    color: #a5a8a9; }

.info-box__text-heading {
  font-family: Lato;
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 20px; }

.info-box__text-desc {
  font-family: "Open Sans";
  font-size: 14px;
  color: #606060;
  text-align: center;
  line-height: 1.6em;
  padding: 0 90px;
  margin-top: 25px; }

.info-box__icons-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 90px 0 60px; }

.info-box__icon-href {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans';
  color: black;
  fill: black;
  fill-rule: evenodd;
  text-decoration: none;
  transition: all 0.2s linear;
  margin: 0 30px; }
  .info-box__icon-href svg {
    margin-bottom: 25px; }
  .info-box__icon-href:hover, .info-box__icon-href:active, .info-box__icon-href:focus {
    transform: scale(1.2);
    color: #2980b9;
    fill: #2980b9;
    outline: none; }

.info-box__icon-href_active {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2980b9;
  fill: #2980b9;
  fill-rule: evenodd;
  text-decoration: none;
  transform: scale(1.2); }

.clients {
  height: 465px;
  background-color: white; }

.clients__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 0 auto; }

.clients__text-wrapper_marginTop70 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 775px;
  height: 100%;
  margin-top: 70px; }
  .clients__text-wrapper_marginTop70 hr {
    width: 150px;
    border: none;
    border-top: 1px solid #a5a8a9;
    color: #a5a8a9; }

.clients__text-heading {
  font-family: Lato;
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 25px; }

.clients__text-desc {
  font-family: "Open Sans";
  font-size: 14px;
  color: #606060;
  text-align: center;
  line-height: 1.6em;
  margin-top: 20px;
  padding: 0 30px; }

.clients__logos-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 70px 0 95px; }
  .clients__logos-wrapper .clients__arrow {
    background: none;
    border: none;
    outline: none;
    cursor: pointer; }
    .clients__logos-wrapper .clients__arrow svg {
      fill: black;
      transition: all 0.2s linear; }
      .clients__logos-wrapper .clients__arrow svg:hover {
        fill: #2980b9; }

.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 150px;
  background-color: black;
  flex-shrink: 0; }

.footer__contacts a {
  margin-right: 20px; }

.footer__credits {
  font-family: 'Open Sans';
  font-size: 12px;
  color: #606060;
  text-align: right; }

.services {
  background-color: white; }

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 0 30px; }

.services__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 155px; }
  .services__info hr {
    width: 150px;
    border: none;
    border-top: 1px solid #a5a8a9;
    color: #a5a8a9; }

.services__text-heading {
  font-family: Lato;
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 20px; }

.services__text-desc {
  font-family: "Open Sans";
  font-size: 14px;
  color: #606060;
  text-align: center;
  line-height: 1.6em;
  margin-top: 25px;
  padding: 0 90px; }

.services__grid {
  box-sizing: border-box;
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 460px 460px;
  background-color: white;
  margin-top: 55px; }

.services__element {
  display: flex;
  margin-bottom: 45px; }
  .services__element .services__element-image {
    margin-top: 5px;
    margin-right: 17px; }
  .services__element .services__title {
    color: black;
    font-family: Lato;
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 10px; }
  .services__element .services__description {
    line-height: 1.6em;
    color: #606060;
    font-family: 'Open Sans';
    font-size: 14px;
    margin: 0 0 10px 2px; }
  .services__element .services__learn-more {
    color: #606060;
    font-family: 'Open Sans';
    font-size: 14px;
    text-decoration: underline;
    margin: 0 0 0 2px; }

.portfolio {
  width: 100%;
  background-color: white; }

.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;
  margin: 0 auto;
  padding: 50px 0 20px; }

.portfolio__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 155px; }
  .portfolio__info hr {
    width: 150px;
    border: none;
    border-top: 1px solid #a5a8a9;
    color: #a5a8a9; }

.portfolio__text-heading {
  font-family: Lato;
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 20px; }

.portfolio__text-desc {
  font-family: "Open Sans";
  font-size: 14px;
  color: #606060;
  text-align: center;
  line-height: 1.6em;
  margin-top: 25px;
  padding: 0 90px; }

.portfolio__grid {
  box-sizing: border-box;
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 460px 460px;
  background-color: white;
  margin-top: 60px; }

.portfolio__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }
  .portfolio__element .portfolio__element-image {
    margin-bottom: 15px; }
    .portfolio__element .portfolio__element-image img {
      width: 100%; }
  .portfolio__element .portfolio__element-info {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    text-align: center; }

.our-team {
  background-color: white; }

.our-team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 0 10px; }

.our-team__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 155px; }
  .our-team__info hr {
    width: 150px;
    border: none;
    border-top: 1px solid #a5a8a9;
    color: #a5a8a9; }

.our-team__text-heading {
  font-family: Lato;
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 20px; }

.our-team__text-desc {
  font-family: "Open Sans";
  font-size: 14px;
  color: #606060;
  text-align: center;
  line-height: 1.6em;
  margin-top: 25px;
  padding: 0 100px; }

.our-team__grid {
  display: grid;
  grid-template-columns: 225px 225px 225px 225px;
  grid-column-gap: 20px;
  margin-top: 60px; }

.our-team__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px; }

.our-team__photo {
  width: 100%; }

.our-team__name {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0 10px; }

.our-team__member-desc {
  font-family: "Open Sans";
  font-size: 12px;
  text-align: center;
  margin-bottom: 25px;
  line-height: 1.5em;
  color: #606060; }

.our-team__member-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 114px; }

.our-blog {
  background-color: white; }

.our-blog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 0 90px; }

.our-blog__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 155px; }
  .our-blog__info hr {
    width: 150px;
    border: none;
    border-top: 1px solid #a5a8a9;
    color: #a5a8a9; }

.our-blog__text-heading {
  font-family: Lato;
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 20px; }

.our-blog__text-desc {
  font-family: "Open Sans";
  font-size: 14px;
  color: #606060;
  text-align: center;
  line-height: 1.6em;
  margin-top: 25px;
  padding: 0 100px; }

.our-blog__grid {
  display: grid;
  grid-template-columns: 460px 460px;
  grid-column-gap: 40px;
  margin-top: 60px; }

.our-blog__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px; }

.our-blog__blog-title {
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0 10px; }

.our-blog__blog-desc {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.6em;
  color: #606060;
  margin-bottom: 10px; }

.our-blog__blog-href {
  font-family: "Open Sans";
  font-size: 14px;
  color: #606060; }
  .our-blog__blog-href:hover, .our-blog__blog-href:focus {
    color: #2980b9; }

.blog-post {
  background-color: white; }

.blog-post__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 965px;
  margin: 0 auto;
  padding: 50px 0; }
  .blog-post__container hr {
    width: 150px;
    border: none;
    border-top: 1px solid #a5a8a9;
    color: #a5a8a9; }

.blog-post__title {
  font-family: Lato;
  font-size: 44px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px; }

.blog-post__text {
  font-family: "Open Sans";
  font-size: 14px;
  margin: 20px 0 0;
  line-height: 1.6em;
  text-align: center;
  color: #606060; }
  .blog-post__text:last-of-type {
    margin-bottom: 30px; }

.blog-post__subtitle {
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 40px 0 20px; }

.blog-post__content-image {
  margin-bottom: 15px; }

.blog-post__social-media {
  margin: 20px 0; }

.contacts {
  background-color: white; }

.contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 0 80px; }

.contacts__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 155px; }
  .contacts__info hr {
    width: 150px;
    border: none;
    border-top: 1px solid #a5a8a9;
    color: #a5a8a9; }

.contacts__text-heading {
  font-family: Lato;
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 20px; }

.contacts__text-desc {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #606060;
  text-align: center;
  line-height: 1.6em;
  margin-top: 25px;
  padding: 0 100px; }

.contacts__grid {
  display: grid;
  grid-template-columns: 460px 460px;
  grid-column-gap: 40px;
  margin-top: 55px; }

.contacts__element {
  display: flex;
  flex-direction: column; }

.element__text-heading {
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px; }

.element__text-desc {
  font-family: 'Open Sans';
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.7em;
  color: #606060; }

.element__search-form {
  display: flex;
  flex-direction: column; }

.search-form__name {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background-color: #edf1f2;
  border: none;
  color: black;
  font-family: 'Open Sans';
  font-size: 14px;
  padding-left: 10px;
  margin-bottom: 10px;
  outline: none; }

.search-form__email {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background-color: #edf1f2;
  border: none;
  color: black;
  font-family: 'Open Sans';
  font-size: 14px;
  padding-left: 10px;
  margin-bottom: 10px;
  outline: none; }

.search-form__message {
  box-sizing: border-box;
  width: 100%;
  height: 220px;
  background-color: #edf1f2;
  border: none;
  color: black;
  font-family: 'Open Sans';
  font-size: 14px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  outline: none;
  resize: none; }

.search-form__btn-submit {
  height: 40px;
  width: 230px;
  border: none;
  outline: none;
  text-align: center;
  color: white;
  background-color: #2980b9; }

.address__text {
  font-family: "Open Sans";
  font-size: 14px;
  margin-bottom: 3px;
  color: #606060; }

.address__map {
  margin-top: 20px;
  width: 100%;
  height: 190px; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato, 'Open Sans'; }

.wrapper {
  flex: 1 0 auto; }
