.blog-post {
    background-color: white;
}

.blog-post__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 965px;
    margin: 0 auto;
    padding: 50px 0;

    hr {
        width: 150px;
        border: none;
        border-top: 1px solid #a5a8a9;
        color: #a5a8a9;
    }
}

.blog-post__title {
    font-family: Lato;
    font-size: 44px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.blog-post__text {
    font-family: "Open Sans";
    font-size: 14px;
    margin: 20px 0 0;
    line-height: 1.6em;
    text-align: center;
    color: #606060;

    &:last-of-type {
        margin-bottom: 30px;
    }
}

.blog-post__subtitle {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 40px 0 20px;
}

.blog-post__content-image {
    margin-bottom: 15px;
}

.blog-post__social-media {
    margin: 20px 0;
}